Source: sngrep
Section: comm
Build-Depends: dh-autoreconf, debhelper, libpcap-dev, libncursesw5-dev, gnutls-dev, libgcrypt-dev, libpcre2-dev, libncurses5-dev, pkg-config
Priority: optional
Standards-Version: 3.9.6
Homepage: https://github.com/irontec/sngrep
Maintainer: Ivan Alonso <kaian@irontec.com>

Package: sngrep
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libpcap0.8, libncursesw5, libpcre2
Description: Ncurses SIP Messages flow viewer
 sngrep displays SIP Messages grouped by Call-Id into flow
 diagrams. It can be used as an offline PCAP viewer or online
 capture using libpcap functions.
 .
 It supports SIP UDP, TCP and TLS transports (when each message is
 delivered in one packet).
 .
 You can also create new PCAP files from captures or displayed dialogs.
 .

Package: sngrep-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sngrep (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for sngrep SIP Messages flow viewer
 sngrep displays SIP Messages grouped by Call-Id into flow
 diagrams. It can be used as an offline PCAP viewer or online
 capture using libpcap functions.
 .
 This package contains the debugging sysmbols.
 .
