#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- \
        -DUSE_IPV6=ON \
        -DUSE_HEP=ON \
        -DWITH_SSL=ON \
        -DWITH_G729=ON \
        -DWITH_PULSE=ON \
        -DWITH_SND=ON

%:
	dh $@ --buildsystem=cmake
